#apps {
    background-color: aliceblue;
    height: 800px;
}

#games {
    background-color: azure;
    height: 800px;
}

#chatbot {
    background-color: floralwhite;
    height: 800px;
}

body {
    text-align: center;
}

img {
    width: 500px;
    height: 600px;

}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

#myCarousel {
    background-color: deeppink;

}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}
